{% extends 'main/main.html' %}

{% block title %}
    STUDIOSLF
{% endblock %}
{% load static %}
{% block content %}
	<div class="wrapper">
		<section id="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<h1>Clean and Flexible Business Template</h1>
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</h2>
							<div class="buttons">
								<a href="#pricing-table" target="_blank" class="btn btn-learn">Выбрать Пакет</a>
								<a href="#portfolio" target="_blank" class="btn btn-learn">Посмотреть Работы</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="scrolldown">
	            <a id="scroll" href="#features" class="scroll"></a>
	        </div>
		</section>
		<section id="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>OUR BEST SERVICES</h2>
							<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-camera"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Responsive Design</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="glyphicon glyphicon-facetime-video"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Outstanding Animation</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="glyphicon glyphicon-film"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Unlimited Colors</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisic-<br>ing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>НАШИ РАБОТЫ</h2>
							<p>Здесь Вы можете найти весь перечень жанров в которых мы работаем.</p>
						</div>
						<div class="block">
							<div class="recent-work-pic">
								<ul id="mixed-items">
									{% for genre in genres %}
                                        <li class="mix category-1 col-md-4 col-xs-6" data-my-order="1">
                                            <a class="example-image-link" href="{{ genre.get_absolute_url }}">
                                                <img width="350px" height="258px" src="{{ genre.cover.url }}" alt="">
                                                <div class="overlay">
                                                    <h3>{{ genre.name }}</h3>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="team">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>НАША КОМАНДА</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
                    {% for worker in workers %}
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s">
                                <img width="354px" height="371px" src="{{ worker.worker_photo.url }}" alt="">
                                <div class="team-overlay">
                                    <h3><a style="color: red" href="{{ worker.get_absolute_url }}">{{ worker.worker_name|title }}</a>
                                        {% for genre in worker.genre.all %}
                                            <span>Жанр: {{ genre.name|title }}</span>
                                        {% endfor %}
                                    </h3>
                                    <span class="icon"><i class="ion-quote"></i></span>
                                    <p>{{ worker.description|truncatewords:25 }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</section>
		<section id="pricing-table">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>PRICING TABLE</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col-md-4 col">
						<div class="block text-center wow fadeInLeft" data-wow-delay=".3s">
							<ul>
								<li>
									<h4>STARTER PACK</h4>
									<p>&#36; 40 <span>/Month</span></p>
								</li>
								<li><p>Unlimited Downloads</p></li>
								<li><p>Unlimited Uploads</p></li>
								<li><p>Unlimited Email Accounts</p></li>
								<li><p> Email Forwards </p></li>
								<li><p>Cloud Storage</p></li>
								<li><p>Screen Share</p></li>
								<li>
									<a href="#" class="btn btn-buy">BUY NOW</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 col">
						<div class="block text-center wow zoomIn" data-wow-delay=".3s">
							<ul>
								<li>
									<h4>STARTER PACK</h4>
									<p>&#36; 40 <span>/Month</span></p>
								</li>
								<li><p>Unlimited Downloads</p></li>
								<li><p>Unlimited Uploads</p></li>
								<li><p>Unlimited Email Accounts</p></li>
								<li><p> Email Forwards </p></li>
								<li><p>Cloud Storage</p></li>
								<li><p>Screen Share</p></li>
								<li>
									<a href="#" class="btn btn-buy">BUY NOW</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 col">
						<div class="block text-center wow fadeInRight" data-wow-delay=".3s">
							<ul>
								<li>
									<h4>STARTER PACK</h4>
									<p>&#36; 40 <span>/Month</span></p>
								</li>
								<li><p>Unlimited Downloads</p></li>
								<li><p>Unlimited Uploads</p></li>
								<li><p>Unlimited Email Accounts</p></li>
								<li><p> Email Forwards </p></li>
								<li><p>Cloud Storage</p></li>
								<li><p>Screen Share</p></li>
								<li>
									<a href="#" class="btn btn-buy">BUY NOW</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="blog">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>Blog</h2>
							<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
						</div>
						<div id="blog-post" class="owl-carousel">
							<div>
								<div class="block">
									<img src="{% static 'main/img/blog/blog-1.jpg' %}" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="{% static 'main/img/blog/blog-2.jpg' %}" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="{% static 'main/img/blog/blog-3.jpg' %}" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="{% static 'main/img/blog/blog-4.jpg' %}" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="{% static 'main/img/blog/blog-1.jpg' %}" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Hey,This is a blog title</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex itaque repudiandae nihil qui debitis atque necessitatibus aliquam, consequuntur autem!
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							
						</div>		
					</div>
				</div>
			</div>
		</section>




		<section id="testimonial">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>TESTIMONIAL</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInLeft" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="{% static 'main/img/service-img.png' %}" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="{% static 'main/img/service-img.png' %}" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInLeft" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="{% static 'main/img/service-img.png' %}" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="{% static 'main/img/service-img.png' %}" alt="">
						    </a>
						  </div>
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
						    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="client-logo">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<div id="Client_Logo" class="owl-carousel">
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo1.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo2.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo3.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo4.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo5.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo6.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo1.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo2.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo3.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo4.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo5.jpg' %}" alt=""></a>
								</div>
								<div>
									<a href="#"><img class="img-responsive" src="{% static 'main/img/clientLogo/client-logo6.jpg' %}" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="contact-form">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>CONTACT US</h2>
						<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>
					</div>
					<div class="col-md-6 col">
						<!-- map -->
						<div class="map">
	                      <div id="googleMap"></div>
	                   </div><!--/map-->

					</div>
					<div class="col-md-6">
						<form>
                            <input type="text" class="form-control" placeholder="Name">
                            <input type="text" class="form-control" placeholder="Email">
                            <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                            <button class="btn btn-default" type="submit">SEND</button>
                        </form>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
                        <h2 style="color: red;">SLF STUDIO</h2>
                        <p>© 2019 All rights reserved </p>
                    </div>
					</div>
				</div>
			</div>
		</footer>
	</div>
{% endblock %}